.options{
    border: 1px solid black;
    margin: 50px 0;
    padding: 20px 10px;
    border-radius: 10px;
    background-color: gray;
}
.options .question {
    font-size: 32px;
    margin: 0 35px 40px 35px;
    color: orange;
    width: 90%;
}
.options .single-option{
    display: block;
    background-color: purple;
    margin: 30px 0;
    color: white;
    font-weight: 500;
    padding: 30px 0;
    border-radius: 10px;
    font-size: 18px;
    transition: .5s;
    cursor: pointer;
}
.options .single-option:hover{
    background-color: #405000;
}
.option .single-option input{
    margin-right: 10px;
}
.options .option{
    width: 80%;
    margin: 0 auto;
}
.options .eye-icon{
    display: flex;
    cursor: pointer;
}
@media screen and (max-width: 767px) {
    .options .option{
        width: 100%;
    }
    .options .question {
        font-size: 28px;
        margin: 0 0px 20px 0px;
        color: #6d33b4;
        width: 90%;
    }
}